* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
nav {
  width: 1024px;
  text-align: center;
}
.mysite {
  display: inline-block;
  height: 70px;
}
.nav-list {
  list-style: none;
  display: flex;
  float: right;
}
.nav-list-item {
  font-size: 16px;
  color: #fafafa;
  margin: 0 30px;
  line-height: 70px;
}