* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 70px;
  background-color: #ec715f;
}
.header-content {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
}
.img {
  height: 70px;
}
.nav {
  margin: 0 0 0 auto;
}
.nav-list {
  display: flex;
  text-align: right;
  line-height: 70px;
}
.nav-list-item {
  list-style: none;
  margin-right: 30px;
  font-size: 16px;
  color: #fafafa;
}
main {
  width: 100%;
}
.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img3/mv.png);
  background-size: cover;
}
.main-visual-box {
  padding-top: 200px;
  text-align: center;
  color: #fafafa;
}
.main-visual-content {
  font-size: 64px;
  margin-bottom: 10px;
}
.main-visual-text {
  font-size: 20px;
}
.portfolio {
  width: 100%;
  background-color: #eceff1;
}
.portfolio-box {
  width: 920px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-right: auto;
  margin-left: auto;
}
.portfolio-box-head {
  text-align: center;
}
.portfolio-head {
  font-size: 32px;
  margin-bottom: 8px;
  color: #000000;
}
.portfolio-head-under {
  width: 70px;
  height: 3px;
  margin-bottom: 30px;
  background-color: #ec715f;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}
.portfolio-box-block {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-box-content1 {
  background-image: url(img3/sketch.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.portfolio-box-content2 {
  background-image: url(img3/websuku.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.portfolio-box-content3 {
  background-image: url(img3/write.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}
.portfolio-box-content4 {
  background-image: url(img3/webcamp.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}
.portfolio-box-content5 {
  background-image: url(img3/talk.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right: 10px;
}
.portfolio-box-content6 {
  background-image: url(img3/webcamp-mother.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}
.feature {
  width: 100%;
}
.feature-all {
  width: 980px;
  margin: 90px auto;
}
.feature-box-head {
  color: #000000;
  text-align: center;
}
.feature-head {
  font-size: 32px;
  margin-bottom: 8px;
}
.feature-head-under {
  background-color: #ec715f;
  width: 70px;
  height: 3px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
.feature-head-text {
  font-size: 16px;
  margin-bottom: 30px;
}
.feature-box-block {
  display: flex;
}
.feature-box-content1 {
  width: 320px;
  height: auto;
  margin-right: 10px;
  color: #000000;
  font-size: 60px;
}
.feature-box-content2 {
  width: 320px;
  height: auto;
  margin-right: 10px;
  color: #000000;
  font-size: 60px;
}
.feature-box-content3 {
  width: 320px;
  height: auto;
  color: #000000;
  font-size: 60px;
}
.feature-title {
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
}
.feature-text {
  font-size: 16px;
}
.fab {
  display: inline-block;
  font-size: inherit;
}
.feature-icon1 {
  text-align: center;
}
.feature-icon2 {
  text-align: center;
}
.feature-icon3 {
  text-align: center;
}
.profile {
  background-color: #eceff1;
  width: 100%;
}
.profile-all {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  padding-bottom: 90px;
}
.profile-head {
  text-align: center;
  color: #000000;
  margin: 30px auto;
}
.profile-head-title {
  font-size: 32px;
  margin-bottom: 8px;
}
.profile-head-under {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ec715f;
}
.profile-head-content {
  font-size: 16px;
}
.profile-under {
  display: flex;
}
.profile-image {
  width: 512px;
  height: 512px;
  text-align: center;
}
.profile-img {
  border-radius: 125px;
}
.profile-text {
  margin-bottom: 20px;
  width: 512px;
}
.profile-text1-title {
  margin-bottom: 5px;
  font-size: 20px;
}
.profile-text2-title {
  margin-bottom: 5px;
  font-size: 20px;
}
.profile-text1-content {
  font-size: 16px;
}
.profile-text2-content {
  font-size: 16px;
}
.contact {
  width: 100%;
}
.contact-all {
  width: 800px;
  margin: 90px auto;
}
.contact-head {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.contact-head-title {
  font-size: 32px;
  margin-bottom: 8px;
}
.contact-head-under {
  background-color: #ec715f;
  width: 70px;
  height: 3px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
.contact-head-text {
  font-size: 16px;
}
.contact-info {
  display: flex;
  text-align: center;
  color: #000000;
}
.contact-info-content {
  width: 400px;
  margin: 9 auto;
}
.contact-mail {
  font-size: 20px;
  margin-bottom: 5px;
}
.contact-mail-content {
  font-size: 16px;
  margin-bottom: 20px;
}
.contact-tel {
  font-size: 20px;
  margin-bottom: 5px;
}
.contact-tel-content {
  font-size: 16px;
}
.contact-info-sns {
  width: 400px;
}
.info-sns-title {
  font-size: 20px;
}
.contact-icon {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.contact-icon1 {
  margin-right: 20px;
}
.contact-icon2 {
  margin-right: 20px;
}
