* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
nav {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
.mysite {
  display: inline-block;
  height: 70px;
}
.nav-list {
  list-style: none;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.nav-list-item {
  font-size: 16px;
  color: #fafafa;
  margin: 0 30px;
  line-height: 70px;
}
.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}
.main-visual-text {
  text-align: center;
  color: #fafafa;
  padding-top: 200px;
}
.main-visual-text h3 {
  font-size: 64px;
  margin-bottom: 10px;
}
.main-visual-text p {
  font-size: 20px;
}